<a [routerLink]="['/form']">Form</a>
<a [routerLink]="['/auth/me']">Me</a>
<a [routerLink]="['/auth/login']">Login</a>
<a [routerLink]="['/auth/signup']">Signup</a>
<a [routerLink]="['/list-all']">List All</a>
<!-- <a [routerLink]="['/spots/spot/:spotId']" (click)="getRandomSpot()">List All</a> -->

<app-map-spots></app-map-spots>
<hr>
<app-filter [spots]="spots" [selectors]="selectors" *ngIf="filterReady" (onChange)="handleFilterChange($event)"></app-filter>
<br>
<pre>{{spots | json}}</pre>

<!-- ADD THE LIST COMPONENT -->