
 <div class="top">
    <div class="ask-irene">
      <h1>Irene, where should I go?</h1>
    </div>
    <div class="triangle-one pink"></div>
  </div>
<div class="result-button-container" *ngIf='spots'>
  <button (click)="showResults($event)" (click)="filterVisible = !filterVisible" >The perfect spot 🎯</button>
  <span >{{spots.length}}</span>
</div>
<div class="results" *ngIf="resultVisible">
  <mat-tab-group mat-stretch-tabs="yes">
    <mat-tab label="Map"  (click)="activateMap()">
        <app-map-spots [spots]="spots" ></app-map-spots>
    </mat-tab>
    
    <mat-tab  label="List" >
      <app-spot-list [message]="message" [spots]="spots" class="spot-list"></app-spot-list>
    </mat-tab>
  </mat-tab-group>
</div>
  <app-filter [spots]="spots" [selectors]="selectors" *ngIf="filterReady" (onChange)="handleFilterChange($event)" [ngClass]="filterVisible ? 'filter-visible' : 'filter-hidden'"></app-filter>
<hr>
