.top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 0.5rem;
}

.ask-irene {
  width: 75%;
  padding: 0 1rem;
  background-color: #fdcfd2;
  border-radius: 8px;
}

.ask-irene p {
  text-align: left;
  margin: 0.4rem auto;
  color: #365897;
}

.triangle-one {
    /* width: 10px; */
  /* height: 10px; */
  background-color: inherit;
  margin-top: -0.1px;
  margin-left: 4%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #fdcfd2;
}


.spot-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-hidden {
  display: none;
}

.filter-visible {
  display: inherit;
}

button {
  font-family: 'Poppins', sans-serif;
  color: #fdcfd2;
  background-color: #f35742;
  border-radius: 8px;
  border: none;
  margin: 1px;
  padding: 3% 7%;
  text-transform: uppercase;
  font-size: 1rem;
}

.result-button-container {
  text-align: center;
  margin: 20px 0 0;
}