<a [routerLink]="['/form']">Form</a>
<a [routerLink]="['/auth/me']">Me</a>
<a [routerLink]="['/auth/login']">Login</a>
<a [routerLink]="['/auth/signup']">Signup</a>
<a [routerLink]="['/list-all']">List All</a>
<!-- <a [routerLink]="['/spots/spot/:spotId']" (click)="getRandomSpot()">List All</a> -->

<div class="result-button" *ngIf='spots'>
  <button (click)="showResults($event)">Show results: </button><span *ngIf='filterVisible'>{{spots.length}}</span>
</div>
<div class="results" *ngIf="resultVisible">
  <mat-tab-group>
    <mat-tab label="Map"  (click)="activateMap()">
        <app-map-spots [spots]="spots" ></app-map-spots>
    </mat-tab>
    
    <mat-tab  label="List" >
      <app-spot-list [spots]="spots" class="spot-list"></app-spot-list>
    </mat-tab>
  </mat-tab-group>
</div>
  <app-filter [spots]="spots" [selectors]="selectors" *ngIf="filterReady && filterVisible" (onChange)="handleFilterChange($event)"></app-filter>
<hr>
