.container {
  display: flex;
  justify-content: flex-start;
}

.filters {
  font-family: 'Comic Sans MS';
}

  mat-tab-group {
    width: 100vw;
    object-fit: contain;
  }
  
.mat-ripple {
  display: none;
  padding: 0;
}

.tab {
  max-width: 100%;
}

.tab > mat-tab {
  background-color: red;
}
  .mat-tab-labels > div {
    padding: 0;
    min-width: 50px;
  }
  .mat-tab-header {
    width: 100vw;
  }


.mat-tab-body {
  display: block;
  overflow: hidden;
}

.mat-tab-body-active {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    flex-grow: 1;
  }
