.container {
  display: flex;
  justify-content: flex-start;
}

.filters {
  font-family: 'Comic Sans MS';
}

.mat-tab-group {
  width: 100vw;
  object-fit: contain;
  }
  
.mat-ripple {
  display: none;
  padding: 0;
}

p {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .tab {
    width: 100%;
  }
}





 
  .mat-tab-label .mat-ripple .mat-tab-label-active .ng-star-inserted {
    background-color: red !important;
  }
