.spot-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.spot-info {
  width: 75%;
  padding: 2px 1rem;
  background-color: #fdcfd2;
  border-radius: 8px;
  width: 75%;
  margin: 5% 0 2% 0;
}

.triangle-one {
  height: 30px;
  width: 30px;
  background-color: #fdcfd2;
  margin-top: -10px;
  margin-left: 30px;
  border-left: 15px solid #f9eee4;
  border-right: 15px solid #f9eee4;
  border-top: 30px solid #fdcfd2;

}

img {
  max-width: 80%;
  border-radius: 8px;
  margin: 4%;
}

h2 {
  margin-bottom: 0px;
}

a {
  color: #365897;
  text-decoration: none;
}

.no-spot {
  min-height: 60vh;
}

.delete-icon {
  font-size: 1.5rem;  
}

.remove-button {
    background-color: #f35742;
    color: #f9eee4;
    text-decoration: none;
    padding: 2% 9%;
    border-radius: 8px;
    margin: 3% 0;
    text-transform: uppercase;
    border:none;
    margin-left: 4%;
}