<div class="spot-item"  >
  <div  *ngFor="let spot of spots">
    <div class="spot-info">
      <h2 [routerLink]="['/spots', spot._id]">{{spot.name}}</h2>
      <img [routerLink]="['/spots', spot._id]"src="https://instagram.com/p/{{spot.images[0]}}/media/?size=t" alt="{{spot.name}}">
      <button (click)="handleDelete(spot._id)" *ngIf="hideButton" class="delete-icon" class="remove-button">Remove 🙅‍</button>
    </div>
    <div class="triangle-one"></div>
  </div>
</div>
<div class="no-spot" *ngIf="spots && spots.length === 0">
  <p>{{message}}<a href="https://ask-irene.herokuapp.com/spots/5a2ae6cda6cfea0014b762ae">El Pachuco 🍹</a></p>
</div>

