<div class="spot-item" *ngFor="let spot of spots" >
  <h2 [routerLink]="['/spots', spot._id]">{{spot.name}}</h2>
  <span>{{spot.price}}</span>
  <span>{{spot.categories}}</span>
    <img [routerLink]="['/spots', spot._id]"src="https://instagram.com/p/{{spot.images[0]}}/media/?size=t" alt="{{spot.name}}">
</div>
<div class="no-spot" *ngIf="spots.length === 0">
  <p>Sorry, no spots here. But I can always recommend  
    <a href="https://ask-irene.herokuapp.com/spots/5a2ae6cda6cfea0014b762ae">this</a> place!</p>
</div>

