body {
  height: 100%;
}
.main-container {
  margin: 3rem 0;
  height: fit-content;
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 0.5rem;
}

.ask-irene {
  /* width: 75%; */
  padding: 0 1rem;
  background-color: #fdcfd2;
  border-radius: 0.4rem;
}

.ask-irene h1 {
  text-align: right;
  font-size: 2.1rem;
  margin: 0.4rem auto;
}

.triangle-one {
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  margin-top: -0.1px;
  margin-right: 1.8rem;
  border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 2rem solid #fdcfd2;
}

.body {
  margin-left: 5px;
}

.bubble {
  width: 75%;
  border-radius: 0.4rem;
  background-color: #f35742;
  padding: 1rem 0;
  margin-top: 1rem;
}

.bubble > a {
  color: #f9eee4;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem 1.5rem;
  font-weight: normal;
  font-size: 1.3rem;
}

.triangle-two {
  width: 2rem;
  height: 32px;
  background-color: inherit;
  margin-top: -0.1px;
  margin-left: 1.8rem;
  border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 2rem solid #f35742;
}


