<p>
  page-form works!
</p>

<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
  
    <div class="field">
      <label>Name of restaraunt</label>
      <input type="text" name="name" [(ngModel)]="restaurant.name" #name="ngModel"/>
    </div>

    <div class="field">
      <label>District</label>
      <input type="text" name="district" [(ngModel)]="district" #myUsername="ngModel"/>
    </div>
    
    <div class="field">
      <label>situation</label>
      <input type="text" name="situation" [(ngModel)]="situation" #myUsername="ngModel"/>
    </div>
    
    <div class="field">
      <label>price</label>
      <input type="text" name="price" [(ngModel)]="price" #myUsername="ngModel"/>
    </div>

    <div class="field">
      <label>vibe</label>
      <input type="text" name="vibe" [(ngModel)]="vibe" #myUsername="ngModel"/>
    </div>

    <div class="field">
      <label>tags</label>
      <input type="checkbox"  name="vibe" [(ngModel)]="vibe" #myUsername="ngModel"/>
    </div>

    <div class="field">
      <label>description</label>
      <textarea name="description" [(ngModel)]="description" #myUsername="ngModel" id="description" cols="30" rows="10"></textarea>
    </div>


  
    
  
    <div class="field submit">
      <button type="submit" [disabled]="processing">Login</button>
      <div *ngIf="feedbackEnabled && myForm.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>
