<p>
  page-form works!
</p>
<!-- 
<ul *ngIf="spots">
  <li *ngFor="let spot of spots">
    {{spot.name}}
  </li>
</ul> -->

<form (ngSubmit)="submitForm()" #myForm="ngForm" *ngIf="formReady" novalidate>

    <div class="field">
        <label>Location</label>
        <app-map-auto-complete (onSelect)="handleLocationSelect($event)"></app-map-auto-complete>
      </div>

    <div class="field">
      <label>District</label>
      <app-form-select [items]="selectors.district" (onChange)="handleCategoryChange($event, 'district')"></app-form-select>
    </div>
    
    <div class="field">
      <label>situation</label>
      <app-form-select [items]="selectors.situation" (onChange)="handleCategoryChange($event, 'situation')"></app-form-select>
    </div>
    
    <div class="field">
      <label>price</label>
      <app-form-select [items]="selectors.price" (onChange)="handleCategoryChange($event, 'price')"></app-form-select>
    </div>

    <div class="field">
      <label>vibe</label>
      <app-form-select [items]="selectors.vibe" (onChange)="handleCategoryChange($event, 'vibe')"></app-form-select>
    </div>

    <div class="field">
      <label>category</label>
      <app-form-select [items]="selectors.categories" (onChange)="handleCategoryChange($event, 'categories')"></app-form-select>
    </div>

    <div class="field">
      <label>tags</label>
      <app-form-select [items]="selectors.tags" (onChange)="handleCategoryChange($event, 'tags')"></app-form-select>
    </div>
    
    <div class="field">
      <label>description</label>
      <textarea name="description" [(ngModel)]="spot.description" #myDescription="ngModel" id="description" cols="100" rows="5"></textarea>
    </div>

    <div class="field">
      <label>Webpage</label>
      <input type="text" name="webpage" [(ngModel)]="spot.links.webpage"/>
      <label>Facebook</label>
      <input type="text" name="facebook" [(ngModel)]="spot.links.facebook"/>
      <label>Google Maps</label>
      <input type="text" name="googleMaps" [(ngModel)]="spot.links.googleMaps"/>
      <label>Instagram</label>
      <input type="text" name="instagram" [(ngModel)]="spot.links.instagram"/>
    </div>
    
    <div class="field">
      <div class="image-preview" *ngIf="spot.images">
        <img *ngFor="let image of spot.images" src="https://instagram.com/p/{{image}}/media/?size=t" alt=""> 
      </div>
      <label>ImageURL</label>
      <input type="text" name="image" [(ngModel)]="spot.images[0]"/>
      <input type="text" name="image" [(ngModel)]="spot.images[1]"/>
      <input type="text" name="image" [(ngModel)]="spot.images[2]"/>
    </div>


    
  
    <div class="field submit">
      <button type="submit" [disabled]="processing">Create Spot</button>
      <div *ngIf="feedbackEnabled && myForm.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>
