
ul {
  display:flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

img {
  margin: 5px;
}

input {
  width: 50%;
  margin: 1%;
  border-radius: 4px;
}

button {
  font-family: 'Poppins', sans-serif;
  color: #fdcfd2;
  background-color: #f35742;
  border: none;
  margin: 1px;
}

textarea {
  width: 100%;
}

span {
  color: red;
}