<p>
  page-form works!
</p>

<form (ngSubmit)="submitForm(myForm)" #myForm="ngForm" novalidate>
  
    <div class="field">
      <label>Name of restaraunt</label>
      <input type="text" name="name" [(ngModel)]="spot.name" #name="ngModel"/>
    </div>

    <div class="field">
      <label>District</label>
      <input type="text" name="district" [(ngModel)]="spot.district" #myUsername="ngModel"/>
    </div>
    
    <div class="field">
      <label>situation</label>
      <input type="text" name="situation" [(ngModel)]="spot.situation" #myUsername="ngModel"/>
    </div>
    
    <div class="field">
      <label>price</label>
      <input type="text" name="price" [(ngModel)]="spot.price" #myUsername="ngModel"/>
    </div>

    <div class="field">
      <label>vibe</label>
      <input type="text" name="vibe" [(ngModel)]="spot.vibe" #myUsername="ngModel"/>
    </div>

    <app-form-select [categories]="categories" (handleChange)="handleCategoryChange($event)"></app-form-select>

    <div class="field">
      <li *ngFor="let c of spot.categories">{{c}}</li>
    </div>
    
    <div class="field">
      <label>description</label>
      <textarea name="description" [(ngModel)]="spot.description" #myUsername="ngModel" id="description" cols="30" rows="10"></textarea>
    </div>
    
  
    <div class="field submit">
      <button type="submit" [disabled]="processing">Login</button>
      <div *ngIf="feedbackEnabled && myForm.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
    </div>
  </form>
