<div class="container">
  <header class="site-header">
    <div class="navbar">
      <div class="logo">  
        <a [routerLink]="['/']">
          <img class='logo-png' src="../assets/images/ask-irene_logo.png" alt="">
        </a> 
      </div>

    <div [ngClass]="{'is-user': user, 'is-anon': anon, 'is-admin': admin}">
      <img [matMenuTriggerFor]="menu" mat-icon-button src='../assets/images/menu.png' alt="">
      <mat-menu #menu="matMenu">

        <div *ngIf="!loading && !!user">
          <button mat-menu-item  (click)="profile()">
            <a>Hello <span>{{user.username}}</span></a>
          </button>       
          <button mat-menu-item (click)="logout()">  
            <a >Logout</a>
          </button>          
        </div>

        <button mat-menu-item [routerLink]="['/spots']">
            <a >Find The Perfect Spot</a>              
        </button>

        <div *ngIf="!loading && anon">
          <button mat-menu-item (click)="login()">
            <a >Login</a>
          </button>       
          <button mat-menu-item (click)="signup()">              
            <a >Sign Up</a>
          </button>
        </div>

        <button mat-menu-item [routerLink]="['/about']">
          <a >About</a>              
        </button>

        <button mat-menu-item [routerLink]="['/contact']">
          <a >Contact</a>              
        </button>

        <div *ngIf="!loading && admin">
          <button mat-menu-item (click)="goToForm()">
            <a >Add A New Spot</a>
          </button>
          <button mat-menu-item (click)="goToList()">
            <a >List All Spots</a>
          </button>
        </div>
      </mat-menu>
    </div>
    
      <!-- <div class='nav-menu' [ngClass]="{'is-user': user, 'is-anon': anon, 'is-admin': admin}">
        <div *ngIf="loading">
          <span class="username text">loading...</span>
        </div>
       
        
        
          
          
        </div> -->
    </div>  
  </header>

  <router-outlet></router-outlet>


  <footer>
    <p class='footer-text'>
      Built in Barcelona with 🍻
    </p>
  </footer>
</div>


