<div class="about-container">
  <div class="question-container">
    <div class="question">
      <h2>Why should I ask Irene?</h2>
    </div>
    <div class="triangle-question"></div>
</div>  
  <div class="answers">
    <div class="answer">
      <p>
          Because everyone else does. Due to her lifelong obsession for all kinds of food, 
          cozy cafés and cool bathrooms, Irene has a mental database of spots for any occasion 
          and always ends up recommending places to friends, acquaintances and nosy strangers.
      </p>
    </div>
    <div class="triangle-answer"></div>
    <div class="answer">
      <img src="../../../assets/images/ask-irene_marta.jpg" alt="">
      <p>Exhibit A — The answer was <span>Semproniana</span> BTW</p>
    </div>
    <div class="triangle-answer"></div>
    <div class="answer">
      <p>Now you can access her wisdom 24/7 to find the perfect spot for reading a book while 
        drinking a top notch flat white, impressing your hip friends, or having a bearable Tinder 
        date — while she keeps hunting the coolest places in her hometown Barcelona and anywhere 
        she goes.
      </p>
    </div>
    <div class="triangle-answer"></div>
  </div>
</div>