<div class="container">
  <div class="question">
    <h2>Why should I ask Irene?</h2>
  </div>
  <div class="answers">
    <div class="answer">
      <p>
          Because everyone else does. Due to her lifelong obsession for all kinds of food, 
          cozy cafés and cool bathrooms, Irene has a mental database of spots for any occasion 
          and always ends up recommending places to friends, acquaintances and nosy strangers.
      </p>
    </div>
    <div class="answer">
      <img src="../../../assets/images/ask-irene_marta.jpg" alt="">
      <p>Exhibit A — The answer was <span>Semproniana</span> BTW</p>
    </div>
  </div>
</div>