<div class="contact-container">
    <div class="question-container">
      <div class='question'>
        <h2>Can I talk to Irene?</h2>
      </div>
      <div class="triangle-question"></div>
    </div>
    <div class="answer-container">
      <div class="answer">
        <p>Of course you can! Send her an 
          <a href="mailto:ask@irene.cool">email</a>
            or stalk her on social media.
        </p>
        <div class="answer-links">
          <div class='links'>
            <a target='_blank' href="https://www.instagram.com/irenedemas/">
              <img src="../../assets/images/instagram.png" alt="">
            </a>
          </div>
          <div class='links'>
            <a target='_blank' href="https://medium.com/@irenedemas">
              <img class='medium' src="../../assets/images/Medium_icon.svg.png" alt="">
            </a>
          </div>
        </div>
      </div>
        <div class="triangle-answer"></div>
    </div>
  </div>