ul {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

li {
  list-style: none;
}

.regular-checkbox {
  -webkit-appearance: none;
  border: 1px solid #f35742;
  padding: 5px;
  border-radius: 8px;
  vertical-align: middle;
  margin-top: -1px;
} 

.regular-checkbox:active, .regular-checkbox:checked:active {
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); */
}

.regular-checkbox:checked {
	background-color: #f35742;
	/* border: 1px solid #adb8c0; */
	/* box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); */
	/* color: #99a1a7; */
}
.regular-checkbox:checked:after {
	/* content: '\2714'; */
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	/* color: #99a1a7; */
}



.filter-item {}