/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #f9eee4;
}
/* div {
  border: 1px solid #104300;
} */

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  color: #365897;
}

label, p, a, span {
  font-family: 'Poppins', sans-serif;
  color: #f35742;
}

button {
  font-family: 'Poppins', sans-serif;
  color: #fdcfd2;
  background-color: #f35742;
  border: none;
  padding: 2%;
  margin: 1%;
}


/* -- forms --- error handlers -- */

form .is-processing {
  opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

form .is-selected {
  display: none;
}
