/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #f9eee4;
  height: 100%;
}


h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  color: #365897;
}

label, p, a, span {
  font-family: 'Poppins', sans-serif;
  color: #f35742;
}

button {
  outline: none;
}

app-page-spots,
app-page-profile,
app-page-login,
app-page-signup
app-page-spot-detail
app-page-home {
  min-height: 80vh;
}

/* -- forms --- error handlers -- */

form {
  margin-bottom: 18%;
}

form .is-processing {
  opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

form .is-selected {
  display: none;
}
