.headline-bubble {
  background-color: #fdcfd2;
  width: 50%;
  border-radius: 8px;
  padding: 2% 2%;
  margin: 3% 0;
}

.triangle-headline {
  margin-left: 3%;
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  margin-top: -11.1px;
  margin-right: 1.8rem;
  margin-bottom: 9px;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 2rem solid #fdcfd2;
}

.headline-bubble h1 {
  margin: 0;
}

.spot-detail {
  padding: 0 3%;
}

.images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width:30%;
  border-radius: 18px;
}

.description-bubble {
  border-radius: 8px;
  background-color: #fdcfd2;
  width: 90%;
  padding: 4%;
  margin-top: 4%;
}

.description-bubble p {
  color: #3b5892;
  line-height: 2;
}

.triangle-description {
  margin-left: 3%;
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  margin-top: -2.1px;
  margin-right: 1.8rem;
  border-left: 1rem solid transparent;
	border-right: 1rem solid transparent;
	border-top: 2rem solid #fdcfd2;
}

.spot-specitications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.spot-specitications span {
  color: #3b5892;
  background-color: #fdcfd2;
  padding: 2%;
  border-radius: 8px;
  margin: 0.5%;
}

.take-me-there-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
a.take-me-there-btn {
  background-color: #f35742;
  color: #f9eee4;
  text-decoration: none;
  padding: 2% 9%;
  border-radius: 8px;
  margin: 3% 0;
  text-transform: uppercase;
}

.add-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}

button.add-btn {
  background-color: #fdcfd2;
  border: none;
  padding: 2% 9%;
  margin: 1%;
  color: #f35742;
  max-width: 50%;
  text-transform: uppercase;
}
