p {
  font-size: 2rem;
}

.ask-irene {
  width: 85%;
  padding: 0 1rem;
  background-color: #fdcfd2;
  border-radius: 8px;
  margin: 6% 0;
}

.ask-irene p {
  text-align: left;
  margin: 0.4rem auto;
  font-family: 'Abril Fatface', cursive;
  color: #365897;
  font-size: 1.5rem;
}

.ask-irene h3 {
  font-size: 2rem;
  margin: 0;
}

.triangle-one {
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  margin-top: -22.1px;
  margin-left: 4px;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 2rem solid #fdcfd2;
}