
    <div *ngIf="user" class="ask-irene">
        <h3>{{user.username}}</h3>
        <p>{{user.email}}</p>
      </div>
      <div class="triangle-one pink">
    </div>

<mat-tab-group mat-stretch-tabs="yes" >
    <mat-tab label="Favorites">
        <ng-template mat-tab-label>
            <p>💘</p>
        </ng-template>

        <app-spot-list [message]='message' [spots]="favorites" [hideButton]="true" class="favorite-list" (onDelete)="handleDelete('favorites', $event)"></app-spot-list>
        <!-- <div *ngIf='favorites.length === 0'>
            <p>Add your favorite spots to show them here</p>
        </div> -->
    </mat-tab>
    
    <mat-tab  label="Wishlist" >
        <ng-template mat-tab-label>
            <p>📌</p>
        </ng-template>
      <app-spot-list [message]='message'  [spots]="wishList" class="wish-list" [hideButton]="true" (onDelete)="handleDelete('wishList', $event)"></app-spot-list>
      <!-- <div *ngIf='wishList.length === 0'>
            <p>Add the spots you want to visit to show them here</p>        
        </div> -->
    </mat-tab>
  </mat-tab-group>